{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/login1.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="wrapper">
    <div class="title-text">
        <div class="title login">
            Forgot Password
        </div>
    </div>

    <div class="form-container">
        <div class="form-inner">

            <form method="POST">
                {% csrf_token %}

                <div class="field">
                    <input type="email" name="email" placeholder="Enter Email Address" required>
                </div>

                <div class="field">
                    <input type="password" name="new_password" placeholder="Enter New Password" required>
                </div>

                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit"  value="Reset Password">
                </div>

                <div>
                    <button onclick="history.back()" class="btn btn-success">
    ⬅ Back
</button>

                </div>

            </form>

            {% if message %}
                <p style="color:green; text-align:center; margin-top:10px;">
                    {{ message }}
                </p>
            {% endif %}

            {% if error %}
                <p style="color:red; text-align:center; margin-top:10px;">
                    {{ error }}
                </p>
            {% endif %}

        </div>
